<template name="repositoryItem">
	<div class="repository">
		<p><span class="octicon octicon-repo{{#if fork }}-forked{{/if}}"></span>{{name}}</p>
		<p>Description: {{description}}</p>
		<p>Langauge: <i class="devicon-{{getLanguageInDevIconsFormat language}}-plain"></i> {{language}}</p>
		<p>Created at: {{moFormat created_at 'Do [of] MMMM YYYY'}} ({{moFromNow created_at}})</p>
		<p>Updated at: {{moFormat updated_at 'Do [of] MMMM YYYY'}} ({{moFromNow updated_at}}) </p>
		<div class="repository-data-tabs">
			<a class="repository-data-tab  {{ selectedIfCurrentRepositoryDataTabIs 'Contributors'}}" data-tab-name="Contributors">
				<span class="octicon octicon-organization"></span>Contributors</a>
			<a class="{{#if hasWatchers}} repository-data-tab {{ selectedIfCurrentRepositoryDataTabIs 'Watchers'}} {{/if}}" data-tab-name="Watchers">
				<span class="octicon octicon-eye"></span>Watchers: {{watchers}}</a>
			<a class="{{#if hasForks}} repository-data-tab {{ selectedIfCurrentRepositoryDataTabIs 'Forks'}}{{/if}}" data-tab-name="Forks">
				<span class="octicon octicon-git-branch"></span>Forks: {{forks}}</a>
			<a class="{{#if hasStargazers}} repository-data-tab {{ selectedIfCurrentRepositoryDataTabIs 'Stargazers'}} {{/if}}" data-tab-name="Stargazers">
				<span class="octicon octicon-star"></span>Stargazers: {{stargazers_count}}</a>
		</div>
		<div class="tab">

			{{#if currentRepositoryDataTabCached}}

				{{#if currentRepositoryDataTabIs 'Contributors'}}
				{{#each contributorsList }}
					<p>{{login}}</p>
				{{/each}}
				{{/if}}
				{{#if currentRepositoryDataTabIs 'Watchers'}}
					{{#each watchersList }}
						<p>{{login}}</p>
					{{/each}}
				{{/if}}
				{{#if currentRepositoryDataTabIs 'Forks'}}
					{{#each forksList }}
						<p>{{full_name}}</p>
					{{/each}}
				{{/if}}
				{{#if currentRepositoryDataTabIs 'Stargazers'}}
					{{#each stargazersList }}
						<p>{{login}}</p>
					{{/each}}
				{{/if}}

			{{else}}
				{{> spinner}}
			{{/if}}

			
		</div>
	</div>
</template>